.carousel {
    position: relative;
    width: 95%;
    overflow: hidden;
    border-radius: 10px;
    height: auto; 
}

.carousel__container {
    display: flex;
}

.carousel__slide {
    flex: 0 0 calc(100% / 3);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    box-sizing: border-box;
    overflow: visible;
}

.carousel__slide img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

@media (min-width: 768px) {
    .carousel__slide {
        flex: 0 0 calc(100% / 4);
    }
}

@media (min-width: 1200px) {
    .carousel__slide {
        flex: 0 0 calc(100% / 5);
    }
}

@media (min-width: 1600px) {
    .carousel__slide {
        flex: 0 0 calc(100% / 6);
    }
}

@media (min-width: 2000px) {
    .carousel__slide {
        flex: 0 0 calc(100% / 8);
    }
}

.carousel__buttons {
    pointer-events: none; 
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    z-index: 10; 
    padding: 0 0.5rem;
    box-sizing: border-box;
}

.carousel__buttons button {
    pointer-events: auto; 
    z-index: 20; 
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}